.Marketplace{
  
    
  *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.TituloComponentePrincipal{
  text-align: center;
  color: white;
}

h1 {
  text-align: center;
  font-size: clamp(2rem, 8vmin, 6rem);
  font-family: sans-serif;
  color: hsl(0 0% 98%);
}
h2 {
  text-align: center;
  font-size: clamp(2rem, 7vmin, 6rem);
  font-family: sans-serif;
  color: hsl(0 0% 98%);
}
.parrafo1 {
  text-align: left;
  font-size: clamp(1rem, 4vmin, 4rem);
  font-family: sans-serif;
  color: hsl(0 0% 98%);
}
.precio1 {
  text-align: left;
  font-size: clamp(1rem, 4vmin, 4rem);
  font-family: sans-serif;
  color: hsl(115, 85%, 40%);
}
.underlined {
  position: relative;
}
.underline-clip-title:after {
  content: '';
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 5 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsla(103, 92%, 49%, 0.897);
  /* Use a clip-path to hide and show the bits you want */
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}
.underline-clip-subtitle:after {
  content: '';
  position: absolute;
  top: 95%;
  width: 150%;
  aspect-ratio: 5 / 1;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  border: 6px solid hsla(61, 100%, 50%, 0.932);
  /* Use a clip-path to hide and show the bits you want */
  clip-path: polygon(0 0, 50% 50%, 100% 0);
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 6rem;
  background-color: #f5f5f5;
  font-family: "Inter", sans-serif;
}
@media (max-width: 60em) {
  body {
    padding: 3rem;
  }
}

.grid {
  display: grid;
  
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  align-items: start;
}
@media (max-width: 60em) {
  .grid {
    grid-gap: 3rem;
  }
}
.grid__item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
}
.grid__item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.card__img {
  display: block;
  width: 100%;
  height: 9rem;
  object-fit: cover;
}
.card__content {
  padding: 1rem 1rem;
}
.card__header {
  font-size: 1rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}
.card__text {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
}
.card__btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 1rem;
  text-align: center;
  color: #3363ff;
  background-color: #e6ecff;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
}
.card__btn span {
  margin-left: 1rem;
  transition: 0.2s;
}
.card__btn:hover, .card__btn:active {
  background-color: #dce4ff;
}
.card__btn:hover span, .card__btn:active span {
  margin-left: 1.5rem;
}

.grid__item_modulos{
  margin: 50px;
}

}