@import './base/_variables.scss';

.tituloNroColumns{
    font-weight: bold;
    color: white;
    text-align: center;
}
.custom-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
}
.componentePrincipal{
    color: white;
    text-align: left;
}
.row{
    margin-left: 0px;
}

.tablaVista{
    margin: auto;
    margin-left: 0px;
    margin-bottom: 40px;

    height: 100%;
    margin: 0 auto;
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    font-family: sans-serif;
    font-weight: 100;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    //margin-right: 50px;
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    table {
        //width: 80px;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
        width: 100%;
    }
    
    th,
    td {
        padding: 15px;
        background-color: rgba(255,255,255,0.2);
        color: #fff;
    }

    .th-one {
        text-align: center;
        border-radius: 20px 20px 0px 0px;
    }

    .th-first {
        text-align: center;
        border-radius: 20px 0px 0px 0px;
    }
    
    .th {
        text-align: center;
    }

    .th-last {
        text-align: center;
        border-radius: 0px 20px 0px 0px;
    }
    
    thead {
        th {
            background-color: #55608f;
        }
    }
    
    tbody {
        tr {
            &:hover {
                background-color: rgba(255,255,255,0.3);
            }
        }
        td {
            position: relative;
            border-style: solid;
            border-color: white;
            white-space: nowrap;


            &:hover {
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: -9999px;
                    bottom: -9999px;
                    //background-color: rgba(255,255,255,0.2);
                    z-index: -1;
                }
            }
        }
    }

    .tablaButtomBarra{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 68px;
        flex-wrap: wrap;
        margin-left: 10px;
        margin-right: 10px;
    }
    @media (max-width: 802px) {
        .tablaButtomBarra {
            height: 160px;
        }
    }
    @media (max-width: 406px) {
        .tablaButtomBarra {
            height: 240px;
        }
    }

    .miDivSelect{
        
        border-radius: 6px;
        //height: 48px;
        .selectAnimado {
            background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            border-radius: 6px;
            height: 48px;
            padding-top: 14px;
            margin-top: 2px;
        }
        
        .dropup {
            position: relative;
            display: inline-block;
        }
        
        .dropup-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            color: black;
            min-width: 160px;
            bottom: 50px;
            z-index: 1;
        }
        
        .dropup-content {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        
        .dropup-content:hover {background-color: #ccc}
        .dropup-content:not(:hover) {background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);}

        
        .dropup:hover .dropup-content {
            display: block;
        }
        
        .dropup:hover .selectAnimado {
            background-color: #2980B9;
        }
    }


    
}

/* Checkbox style */

.cb{
    margin: 4px;
    overflow: hidden;
    float: left;
    margin-bottom: 20px;
}

.cb label {
    float: left; 

cursor: pointer;
    text-transform: capitalize;
}

.cb label span {
    text-align: center;
    background-color: #a5a2a2;
    display: block;
    padding: 5px 15px;
    font-size: 12px;
}

.cb label input {
    position: absolute;
    display: none;
    color: #fff
}
/* selects all of the text within the input element and changes the color of the text */
.cb label input + span{color: #fff;}


/* This will declare how a selected input will look giving generic properties */
.cb input:checked + span {
    color: #ffffff;
    text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
}
.action input:checked + span{
    background-color: var(--primary);

}

.cb label input:focus + span {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.cb label input:not(:checked):hover + span {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #7e7e7e 0 -3px 0 inset;
    transform: translateY(-2px);
}

.cb label input:checked:hover + span {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.cb label input:not(:checked):active + span {
    box-shadow: #868686 0 3px 7px inset;
    transform: translateY(2px);
}

.cb label input:checked:active + span {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}


//Inicio checkbox integrantes
.cb-integrantes {
  margin: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  /* Cambiar el ancho del contenedor y centrar verticalmente */
  display: flex;
  align-items: center;
}

.cb-integrantes label {
  cursor: pointer;
  text-transform: capitalize;

cursor: pointer;
    text-transform: capitalize;
}

.cb-integrantes label span {
    text-align: center;
    background-color: #a5a2a2;
    display: block;
    padding: 7px 21px;
    font-size: 14px;
}

.cb-integrantes label input {
    position: absolute;
    display: none;
    color: #fff
}
/* selects all of the text within the input element and changes the color of the text */
.cb-integrantes label input + span{
    color: #fff;
    min-width: 119px;
}


/* This will declare how a selected input will look giving generic properties */
.cb-integrantes input:checked + span {
    color: #ffffff;
    text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
}
.action input:checked + span{
    background-color: var(--primary);
}

.cb-integrantes label input:focus + span {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.cb-integrantes label input:not(:checked):hover + span {
    background-color: #31d300;
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #26a300 0 -3px 0 inset;
    transform: translateY(-2px);
}

.cb-integrantes label input:checked:hover + span {
    background-color: #c20000;
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #800000 0 -3px 0 inset;
    transform: translateY(-2px);
}

.cb-integrantes label input:not(:checked):active + span {
    box-shadow: #007206 0 3px 7px inset;
    transform: translateY(2px);
}

.cb-integrantes label input:checked:active + span {
    box-shadow: #660000 0 3px 7px inset;
    transform: translateY(2px);
}
  
//Fin checkbox integrantes

.contacto-img-card {
  width: 72px;
  height: 72px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  
  border: 3px solid #f7f7f7;
  filter: drop-shadow(-10px 0 10px rgba(0, 0, 0, 0.1));
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}
  
.contacto-img-card:hover {
  transform: translateY(5px);//25
}

.contacto-img-card .name {
    position: absolute;
    background-color: #10996d;
    color: #fff;
    font-family: "Bebas Neue", cursive;
    padding: 15px 30px;
    border-radius: 100px;
    bottom: -80px; left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50px);
    letter-spacing: 1px;
    font-size: 20px;
    opacity: 0;
    transition: all 0.3s;
}
  
.contacto-img-card .name::before {
    content: "";
    position: absolute;
    width: 15px; height: 15px;
    background-color: #10996d;
    top: 0; left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
  
.contacto-img-card img:hover + .name {
    opacity: 1;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
}

.contacto-img-modal {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }












.contenedor-imagenes {
    display: flex;
}

.contenedor-imagenes img:nth-child(n+2) {
  margin-left: 10px;
}

//Esto es circulos de imagenes que con mouse se mueven
.react-table .rt-td .container {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }
.container {
    display: flex;
    justify-content: center;
    width: 90%;
    //max-width: var(--container-max-width);
  max-height: 96px;
  max-width: 480px;
    margin: 0 auto;
  background-color: #243b55;
  }
  
  .profile {
    position: relative;
    transition: all 0.3s;
  }
  
  .profile:hover {
    transform: translateY(10px);//25
  }
  
  .profile img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    //border: calc(1/288 * var(--container-max-width)) solid #f7f7f7;
     border: 3px solid #f7f7f7;
    filter: drop-shadow(-10px 0 10px rgba(0, 0, 0, 0.1));
    cursor: pointer;
    width: 72px;
    height: 72px;
  }


    //Esto es de adorno, no funciona
    .profile img:nth-child(n) {
        margin-left: calc(-80px * (counter(n)));
    }

.profile .name {
    position: absolute;
    background-color: #10996d;
    color: #fff;
    font-family: "Bebas Neue", cursive;
    padding: 15px 30px;
    border-radius: 100px;
    bottom: -80px; left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50px);
    letter-spacing: 1px;
    font-size: 20px;
    opacity: 0;
    transition: all 0.3s;
    z-index: 9999;//para que se vea lo mas al frente posible
}
  
.profile .name::before {
    content: "";
    position: absolute;
    width: 15px; height: 15px;
    background-color: #10996d;
    top: 0; left: 50%;
    transform: translate(-50%, -50%) rotate(45deg); 
}
  
.profile img:hover + .name {
    opacity: 1;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
}
//Fin imagenes que con mouse se mueven

//Inicio Tabla_Filters
.search-field {
    font-size: 1.1rem;
    border: 0;
    color: black;
    border-radius: 10px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.904);
    transition: 0.3s all;
    padding: 3px 9px;
}
.search-field:hover {
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}
.search-field::placeholder {
  color: grey;
  text-indent: 10px;
}

.icono-en-texto {
    font-size: 20px;
    .izq {
        margin-right: 5px;
    }
    .der {
        margin-left: 15px;
    }
    .center {
        margin-left: 5px;
        margin-right: 5px;
    }
}
.icono-en-texto-dere {
    margin-left: 5px;
    font-size: 20px;
}
.boton-limpiar {
    font-weight: Bold;
    border-radius: 10px;
    width: 120px;
}
.boton-limpiar span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.boton-limpiar span:after {
    content: '🧹';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.boton-limpiar:hover span {
    padding-right: 25px;
}
  
.boton-limpiar:hover span:after {
    opacity: 1;
    right: 0;
}
//Fin Tabla_Filters


//Modal
.modal-custom {
    color: white;
}
.modal-header-custom {
    color: white;
    background-color: #2e3e64; 
}
.close-button-custom {
    color: white;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
}
.modal-body-custom {
    background-color: #2e3e64; 
}
.modal-footer-custom {
    background-color: #2e3e64; 
}
//Fin Modal