@import './base/_variables.scss';


.TablasDinamicas{
    
    color: white;
    text-align: center;

    

    .ComponentePrincipal {
        margin: auto;
        margin-left: 70px;
        margin-bottom: 40px;

        .tablaDinamica{
            
            height: 100%;
            margin: 0 auto;
            background: linear-gradient(45deg, #49a09d, #5f2c82);
            font-family: sans-serif;
            font-weight: 100;
            border-radius: 20px 20px 20px 20px;
            box-shadow: 0 15px 25px rgba(0,0,0,.6);
            margin-right: 70px;
            .container {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            table {
                width: 800px;
                border-collapse: collapse;
                overflow: hidden;
                box-shadow: 0 0 20px rgba(0,0,0,0.1);
            }
            
            th,
            td {
                padding: 15px;
                background-color: rgba(255,255,255,0.2);
                color: #fff;
            }

            .th-first {
                text-align: center;
                border-radius: 20px 0px 0px 0px;
            }
            
            .th {
                text-align: center;
            }

            .th-last {
                text-align: center;
                border-radius: 0px 20px 0px 0px;
            }
            
            thead {
                th {
                    background-color: #55608f;
                }
            }
            
            tbody {
                tr {
                    &:hover {
                        background-color: rgba(255,255,255,0.3);
                    }
                }
                td {
                    position: relative;
                    border-style: solid;
                    border-color: white;
                    white-space: nowrap;


                    &:hover {
                        &:before {
                            content: "";
                            position: absolute;
                            left: 0;
                            right: 0;
                            top: -9999px;
                            bottom: -9999px;
                            background-color: rgba(255,255,255,0.2);
                            z-index: -1;
                        }
                    }
                }
            }

            .miDivSelect{
                
                border-radius: 6px;
                height: 48px;
                .selectAnimado {
                    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
                    color: white;
                    padding: 16px;
                    font-size: 16px;
                    border: none;
                    border-radius: 6px;
                    height: 48px;
                    padding-top: 14px;
                    margin-top: 2px;
                }
                
                .dropup {
                    position: relative;
                    display: inline-block;
                }
                
                .dropup-content {
                    display: none;
                    position: absolute;
                    background-color: #f1f1f1;
                    color: black;
                    min-width: 160px;
                    bottom: 50px;
                    z-index: 1;
                }
                
                .dropup-content {
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }
                
                .dropup-content:hover {background-color: #ccc}
                .dropup-content:not(:hover) {background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);}

                
                .dropup:hover .dropup-content {
                    display: block;
                }
                
                .dropup:hover .selectAnimado {
                    background-color: #2980B9;
                }
            }


            
        }
    }
}

.row{
    margin-left: 0px;
}