@import './base/_variables.scss';


.Vista{
    
    color: white;
    text-align: center;

    

    .ComponentePrincipal {
        margin: auto;
        margin-left: 70px;
        margin-bottom: 40px;
    }
}